
		<div class="beauty-remedies-logo">
		 <a href="/"><%= image_tag 'BR.png', :class => "beauty_remedies" %></a>
	 </div>


	<div class="container-fluid">

	<div class="se-pre-con"></div>

      <div class="navbar">

				<div class="gif"><img src="http://gifimage.net/wp-content/uploads/2017/08/transparent-gif-tumblr-1.gif">
				</div>
      </div>


			<div class="search-bar">
				<form class="search-container" action="/">
					<input id="search-box" type="text" placeholder="search for a review" class="search-box" name="q" />
					<label for="search-box"><i class="fa fa-search" aria-hidden="true"></i></label>
					<input type="submit" id="search-submit" />
				</form>
			</div>


		<div class="category">
			<div class='rope'>
			 <a href="" class="box">
				<div href="/" class="text">
					 OILY
				 </div>
			 </a>

			 <a href="/" class="box">
					 <div class="text">
 				 DRY
			 </div>
		 </a>

			 <a href="/" class="box">
					 <div class="text">
 				 	COMBINIATION
				</div>
			</a>

			 <a href="/" class="box">
				 <div class="text">
 				 	NORMAL
				</div>
			</a>
		</div>
	 </div>


<div class="scrollmenu">
  <a href="/">Cleanser</a>
  <a href="#news">Moisturizer</a>
  <a href="#contact">Essence</a>
  <a href="#about">Sprays</a>
  <a href="#support">Foundation</a>
  <a href="#blog">Eyeliner</a>
  <a href="#tools">Eyeshadow</a>
  <a href="#base">Mascara</a>
  <a href="#custom">Acne Treating</a>
  <a href="#more"> Anti-wrinkle </a>
  <a href="#logo"> Lipstick </a>
</div>


			<div class="top-header">
					<div class="articles">
								<div id="article">
									<div id="rank"> 1 </div>
									 <a href="/"><%= image_tag '3.jpg', :class => "products" %></a>
								</div>
								<div id="article">
									<div id="rank"> 2 </div>
									 <a href="/"><%= image_tag '2.jpg', :class => "products" %></a>
								</div>
								<div id="article">
								<div id="rank"> 3 </div>
								 <a href="/"><%= image_tag '1.jpg', :class => "products" %></a>
								</div>

					</div>

      <div class="top-reviewers-container">
				<div id ="review-header">
					<h1> Hot Reviewers </h1>
				</div>
				<div class="top-reviewers">
					<div class="reviewer"><img class="circular-image" src="assets/1.png"></a></div>
					<div class="username">
						M I N A *
					</div>
					<div class="user-info">
						SKIN TYPE: OILY
					</div>
					<div class="user-info">
						23
					</div>

				</div>
				<div class="top-reviewers">
										<div class="reviewer"><img class="circular-image" src="assets/4.png"></div>
										<div class="username">
											Ashley_XOXO
										</div>

										<div class="user-info">
											SKIN TYPE: COMBINIATION
										</div>
										<div class="user-info">
											29
										</div>
				</div>
				<div class="top-reviewers">
										<div class="reviewer"><img class="circular-image" src="assets/3.png"></div>
										<div class="username">
											Arina_Beauty
										</div>
										<div class="user-info">
											SKIN TYPE: DRY
										</div>
										<div class="user-info">
											22
										</div>
				</div>
				<div class="top-reviewers">
										<div class="reviewer"><img class="circular-image" src="assets/5.png"></div>
										<div class="username">
											-PocketFullofLipstick-
										</div>
										<div class="user-info">
											SKIN TYPE: OILY
										</div>
										<div class="user-info">
											31
										</div>
				</div>

      </div>

	</div>



	<div class="footer">
		<center>
		© S A N I
		</center>
	</div>

</div>
